In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### **1. Carry out descriptive analytics on the dataset.**

In [ ]:
data=pd.read_csv('/content/Week_8_Q&A_dataset - Sheet1 (1).csv')

In [ ]:
data.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

In [ ]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [ ]:
data.median()

Total Marks    33.0
dtype: float64

### **2. Check whether female and male students scored the same marks.**

In [ ]:
data.columns

Index(['Gender', 'Test preparation', 'Total Marks'], dtype='object')

In [ ]:
male = data[data['Gender']=='male']
male

   Gender Test preparation  Total Marks
0    male             none           14
6    male             none           30
8    male             none           18
9    male             none           24
10   male        completed           44
11   male             none           23
12   male        completed           43
13   male             none           28
18   male             none           47
19   male             none           36
20   male             none           14
21   male        completed           44

In [ ]:
female = data[data['Gender']=='female']
female

    Gender Test preparation  Total Marks
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
7   female             none           12
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

In [ ]:
 from scipy.stats import ttest_ind
 t_value, p_value = ttest_ind(male['Total Marks'],female['Total Marks'])
print('t_value = %.4f, p_value = %.4f'% (t_value, p_value))
print('\nNull hypothesis: There is no significant difference between the marks of male and female students.\n \nAlternative_hypothesis: There is significant difference between the marks of male and female students.')
if p_value <= 0.05:
  print('\nThe null hypothesis is rejected.\nIt is 95% confident that there is a significant differnce in marks scored by male and female candidates.\nThat is,Gender does have an effect in the marks scored.')
else:
  print('\nWe fail to reject the null hypothesis.\nIt is 95% confident that there is no significant difference in the marks of male and female students.\nThat is, Gender does not have any effect in the marks scored.')

t_value = -0.6941, p_value = 0.4938

Null hypothesis: There is no significant difference between the marks of male and female students.

Alternative_hypothesis: There is significant difference between the marks of male and female students.

We fail to reject the null hypothesis.
It is 95% confident that there is no significant difference in the marks of male and female students.
That is, Gender does not have any effect in the marks scored.

### **3. Whether test preparation helps the students?**

In [ ]:
data['Test preparation'].unique()

array(['none', 'completed'], dtype=object)

In [ ]:
none = data[data['Test preparation']=='none']
completed = data[data['Test preparation']=='completed']

In [ ]:
t_value, p_value = ttest_ind(none['Total Marks'],completed['Total Marks'])
print('t_value = %.4f, p_value = %.4f'% (t_value, p_value))
print('\nNull hypothesis: Marks of students who completed the preparation is less than or equal to those who havent taken the preparation.')
print('\nAlternative_hypothesis: Marks of students who completed the preparation is greater than those who havent taken the preparation.')
if p_value <= 0.05:
  print('\nSince the p_value <= 0.05, the null hypothesis is rejected.\nIt is 95% confident that Marks of students who completed the preparation is greater than those who havent taken the preparation.\nThat is, Test preparation does have an effect in the marks scored.')
else:
  print('\nSince the p_value > 0.05, we fail to reject the null hypothesis.\nIt is 95% confident that Marks of students who completed the preparation is less than or equal to those who havent taken the preparation.\nThat is, Test preparation does not have any effect in the marks scored.')

t_value = -3.6144, p_value = 0.0013

Null hypothesis: Marks of students who completed the preparation is less than or equal to those who havent taken the preparation.

Alternative_hypothesis: Marks of students who completed the preparation is greater than those who havent taken the preparation.

Since the p_value <= 0.05, the null hypothesis is rejected.
It is 95% confident that Marks of students who completed the preparation is greater than those who havent taken the preparation.
That is, Test preparation does have an effect in the marks scored.